<h1>HOT ITEMS!</h1>

<div class="item">
    <h1><img src="assets/Fash1.jpg" class="img-thumbnail" ></h1>
    <p>Graceful stylish woman in pink dress</p>
    <button type="button" class="btn btn-warning">Buy</button>
</div>

<div class="item1">
    <h1><img src="assets/fash3.jpg" class="img-thumbnail" ></h1>
    <p>A stylish lady jumping on red wall.</p>
    <button type="button" class="btn btn-warning">Buy</button>
</div>

<div class="item2">
    <h1><img src="assets/fash2.jpg" class="img-thumbnail" ></h1>
    <p>Charming slim brunette woman <br>in pin-up dress</p>
    <button type="button" class="btn btn-warning">Buy</button>
</div>
<router-outlet></router-outlet>